.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.notFound {
  text-align: center;
  padding: 100px 0;
  font-size: 54px;
}

.navbar a {
  color: #fff !important;
}

div .navigation-agileits,
button.btn.btn-default.search {
  background-color: tomato;
}

.w3ls_logo_products_left h1 a,
.w3l_offers p a {
  color: tomato;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
